.gameBackground {
  background-image: url("../assets/battleship-background.jpg");
}

.gridTable {
  width: 50%;
  height: 200px;
  background-color: black;
  margin: 10px;
  margin-left: -40px;
  margin-right: 40px;
}

h3 {
  position: relative;
  margin-top: -5%;
}

.gridTh,
.gridTD {
  border: 1px solid rgb(129, 129, 155);
  background-color: rgb(101, 152, 245);
  height: 50px;
  width: 50px;
  text-align: center;
}

.shipLocation {
  background-color: blue;
}

.gameViewGrids {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

/*...............Salvoes...................*/
.opponentSalvoes,
.hostSalvoes {
  background-color: brown;
  /* background-image: url("../assets/shot.png"); */
  height: 50px;
  width: 50px;
}

/*.................LeaderBoard.....................*/
.leaderBoard tbody {
  border: 2px solid black;
}

.leaderboardBody {
  background: url("../assets/leaderboard-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gpTable {
  width: 50%;
  margin-bottom: 3%;
  background-color: rgba(67, 109, 85, 0.612);
  color: azure;
}

.leaderboardTable {
  width: 70%;
  background-color: rgba(8, 41, 25, 0.612);
  margin-bottom: 5%;
  color: azure;


}