/*....................................GAMES...........................................*/
/*.............LeaderBoard............*/
.leaderBoard tbody {
  border: 2px solid black;
}

.leaderboardBody {
  background: url("../assets/leaderboard-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gpTable {
  width: 50%;
  margin-bottom: 3%;
  background-color: rgba(67, 109, 85, 0.612);
  color: azure;
}

.leaderboardTable {
  width: 70%;
  background-color: rgba(8, 41, 25, 0.612);
  margin-bottom: 5%;
  color: azure;
}

a {
  color: red;
}






/*..................................GAME....................................*/
/*.............Grid tables............*/
.gameBackground {
  background-image: url("../assets/battleship-background.jpg");
}

.gridTable {
  width: 50%;
  height: 200px;
  background-color: black;
  margin: 10px;
  margin-left: -40px;
  margin-right: 40px;
}

h3 {
  position: relative;
  margin-top: -5%;
}

.gridTh,
.hostGridTD,
.gridTD,
.gridRow {
  border: 1px solid rgb(129, 129, 155);
  background-color: rgb(101, 152, 245);
  height: 50px;
  width: 50px;
  text-align: center;
}

.shipLocation {
  background-color: blue;
}

.gameViewGrids {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

/*...............Salvoes and Hits...............*/
.opponentSalvoes,
.hostSalvoes {
  background-color: brown;
  /* background-image: url("../assets/shot.png"); */
  height: 50px;
  width: 50px;
}

.hostHits,
.oppHits {
  background-color: yellow;
}


/*.................Ship key table.....................*/
.shipKeyTable {
  width: 30%;
  background-color: rgba(107, 15, 15, 0.612);
  color: azure;
  text-align: center;
  margin: 5%;
}

/*.................Orientation key table.....................*/
.orientationBox {
  width: 20%;
  background-color: rgba(107, 15, 15, 0.612);
  color: azure;
  text-align: center;
  margin: 5%;
  padding: 5px;
}

.orientationButtons {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  margin: auto;
  margin-top: -8%;
  padding-bottom: 3%;
}

.orientationButton {
  margin: 3%;
  height: 5vh;
}

/*.................Control boxes.....................*/
.controlBoxes {
  display: flex;
  flex-direction: row;
}

