<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>Ship Location</title>
</head>

<body class="gameBackground">
    <div class="container-flow" id="app">
        <h2>Ship Locations!</h2>
        <p>{{currentPlayer}} (you) vs {{opponentPlayer}}</p>

        <form onsubmit="return false">
            <button v-show="logoutBtn" v-on:click="logout()">Log out</button>
        </form>

        <div class="gameViewGrids">
            <h3>Ship Grid</h3>
            <table id="tableHost" class="gridTable">
                <tbody>
                    <tr>
                        <th class="gridTh" v-for="col in columnName">{{col}}</th> <!-- loop th and append col -->
                    </tr>
                    <tr v-for="row in gridCells">
                        <!-- each row make 10 rows -->
                        <td class="gridRow">{{rowName[row]}}</td> <!-- first td, put rowName is position of [i]  -->
                        <td class="hostGridTD" v-for="cell in gridCells" v-bind:id="`${rowName[row]}${cell}`"></td>
                        <!-- second td, make 10 -->
                    </tr>
                </tbody>
            </table>

            <h3>Salvo Grid</h3>
            <table id="tableOpponent" class="gridTable">
                <tbody>
                    <tr>
                        <th class="gridTh" v-for="col in columnName">{{col}}</th> <!-- loop th and append col -->
                    </tr>
                    <tr v-for="row in gridCells">
                        <!-- each row make 10 rows -->
                        <td class="gridRow">{{rowName[row]}}</td> <!-- first td, put rowName is position of [i]  -->
                        <td class="gridTD" v-for="cell in gridCells" v-bind:id="`${rowName[row]}${cell}opp`"></td>
                        <!-- second td, make 10 -->
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="controlBoxes">
            <table class="shipKeyTable">
                <tr>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Length</th>
                </tr>
                <tr>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <button id="clickAircraft" v-show="clickAircraft == true" v-on:click="getLength('aircraft')">
                                    Aircraft
                                    Carrier</button>
                                <button id="undoAircraft" v-show="undoAircraft == true" v-on:click="undoShip('aircraft')">Undo
                                    X</button>
                            </td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <button id="clickBattleship" v-show="clickBattleship == true" v-on:click="getLength('battleship')">Battleship</button>
                                <button id="undoBattleship" v-show="undoBattleship == true" v-on:click="undoShip()">Undo
                                    X</button>
                            </td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <button id="clickSubmarine" v-show="clickSubmarine == true" v-on:click="getLength('submarine')">Submarine</button>
                                <button id="undoSubmarine" v-show="undoSubmarine == true" v-on:click="undoShip()">Undo
                                    X</button>
                            </td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <button id="clickDestroyer" v-show="clickDestroyer == true" v-on:click="getLength('destroyer')">Destroyer</button>
                                <button id="undoDestroyer" v-show="undoDestroyer == true" v-on:click="undoShip()">Undo
                                    X</button>
                            </td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <button id="clickPatrol" v-show="clickPatrol == true" v-on:click="getLength('patrol')">Patrol
                                    Boat</button>
                                <button id="undoPatrol" v-show="undoPatrol == true" v-on:click="undoShip()">Undo X</button>
                            </td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </tr>
            </table>

            <div class="orientationBox">
                <h4>Set Orientation</h4>
                <div class="orientationButtons">
                    <button class="orientationButton" v-on:click="orientation('horizontal')">Horizontal</button>
                    <button class="orientationButton" v-on:click="orientation('vertical')">Vertical</button>
                </div>
            </div>

            <button class="orientationButton" v-on:click="postShips()">Place your ships!</button>


        </div>


    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="scripts/game.js"></script>
</body>

</html>